<!DOCTYPE html>
  <html>
    <head>
      <title>RandomFood</title>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="static/css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="static/css/main.css"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <style>


	@font-face {
			font-family: 'Material Icons';
			font-style: normal;
			font-weight: 400;
			src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2) format('woff2'), url(https://fonts.gstatic.com/s/materialicons/v7/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
		}
		.material-icons {
			font-family: 'Material Icons';
			font-weight: normal;
			font-style: normal;
			font-size: 24px;
			line-height: 1;
			letter-spacing: normal;
			text-transform: none;
			display: inline-block;
			word-wrap: normal;
			-moz-font-feature-settings: 'liga';
			-moz-osx-font-smoothing: grayscale;
		}
		i {
			cursor :  pointer;
		}
    </style>
    <body>
      <!--Import jQuery before materialize.js-->
      <header>

     <nav class="navcolor cnav">
       <div class="nav-wrapper">
         <a href="index.html" class="brand-logo flow-text namecolor" style="margin-left:10px">RandomFood</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href ="index.html">Careers</a></li>
      <li><a href="portfolio.html">About us</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a class="modal-trigger waves-effect waves-light btcolor btn" href="#login">Login</a></li>
      <li><a class="modal-trigger waves-effect waves-light btcolor btn" href="#signup">Signup</a></li>
    </ul>
    <ul id="nav-mobile" class="side-nav deep-orange accent-3" id="mobile-demo">
      <li><a href ="index.html">Careers</a></li>
      <li><a href="portfolio.html">About us</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a class="waves-effect waves-light modal-trigger" href="#login">Login</a></li>
    </ul>
  </div>
    </nav>

        </header>
   <main>


   <div class="parallax-container pacon center">

   <div class="section no-pad-bot">
         <div class="container">
           <div class="row center" id="startchange">
             <h1 style="color:white;opacity:0.8;">Delhi</h1>

             <p style="color:white;">"Ye seher nahi Mehfil hai"</p>
           </div>
         </div>

       </div>
	<div class="section center" style="background-color:rgba(225,225,225,.6);margin-top:83px;padding:2px;">
			<a class="waves-effect waves-light btn btcolor1"><i class="material-icons left">location_on</i>CHANGE CITY</a>
	</div>
   <div class="parallax"><img src="static/images/delhi.png"></div>

   </div>


  <div class="section no-pad-bot" style="background-color:#EDEDED;">
  
  <div class ="row grey lighten-2 hide-on-large-only">
  <div class="col s4 m4 offset-m2 offset-s2">
            <div class="input-field">
                 <select>
                   <option value="" disabled selected>Taste</option>
                   <option value="1">Tikha</option>
                   <option value="2">Mitha</option>
                   <option value="3">Khata</option>

                 </select>
               </div>

			   <div class="input-field">
                 <select>
                   <option value="" disabled selected>Veg/Non-Veg</option>
                   <option value="1">Veg</option>
                   <option value="2">Non-Veg</option>


                 </select>
               </div>
			   <div class="input-field">
                 <select>
                   <option value="" disabled selected>Sort-By:</option>
                   <option value="1">Popularity</option>
                   <option value="2">Rating</option>
                 </select>
               </div>
			
			 </div>
			 
			 <div class="col s4 m4 offset-m1 offset-s1">
			 <p>Popular Cities</p>
  <ul class="left-align" style="list-style-type:disc;">
  <li>Delhi</li>
  <li>Kolkata</li>
  <li>Mumbai</li>
  <li>Hyderabad</li>
  <li>Jammu</li>
  <li>Manali</li>
  <li>Ahemdabad</li>
  <li>Bhopal</li>
  </ul>
			 </div>
			 
			 </div>
  


  <div class ="row">
  <div class="col l2 center hide-on-med-and-down" id ="header">

                   <div class="input-field">
                 <select>
                   <option value="" disabled selected>Taste</option>
                   <option value="1">Tikha</option>
                   <option value="2">Mitha</option>
                   <option value="3">Khata</option>

                 </select>
               </div>

			   <div class="input-field">
                 <select>
                   <option value="" disabled selected>Veg/Non-Veg</option>
                   <option value="1">Veg</option>
                   <option value="2">Non-Veg</option>


                 </select>
               </div>
			   <div class="input-field">
                 <select>
                   <option value="" disabled selected>Sort-By:</option>
                   <option value="1">Popularity</option>
                   <option value="2">Rating</option>
                 </select>
               </div>
			   <br/>
			   <hr>
  <p>Popular Cities</p>
  <ul class="left-align" style="list-style-type:disc;">
  <li>Delhi</li>
  <li>Kolkata</li>
  <li>Mumbai</li>
  <li>Hyderabad</li>
  <li>Jammu</li>
  <li>Manali</li>
  <li>Ahemdabad</li>
  <li>Bhopal</li>
  </ul>



  </div>
  <div class="col s12 m10 offset-m1 l10">
    <div id="share" class="modal">
        <div class="modal-content">
          <div class="row">
            <div class="input-field col s12">
              <input id="toname" type="text" class="validate">
              <label for="name">Friend's name</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn red">Share</a>
        </div>
      </div>
	  
	    <div id="fullrecipe" class="modal modalback">
        <div class="background-image"></div>
		<div class="modal-content">
		<div class="row transparent" id="header1">
		
		<a class="waves-effect waves-light btn btcolor2">Save</a>
		<a class="waves-effect waves-light btn btcolor2">Share</a>
		<a class="waves-effect waves-light btn btcolor2">Favorite</a>
		</div>
		
		<div class="row transparent">
		
				<div class="col s12 m12 l3 center">
				<img class="row s6 circle responsive-img" style="margin:20px" src="static/images/random1.jpg" />
				<div class="row s6 grey lighten-2"style="opacity :.8;">
				<h5><u>Snake Tikka</u></h5>
				<p>Descripton about dish <br/> same as in card</p>
				</div>
				</div>
				
				<div class="col s12 m12 l4">
				<div class ="section grey lighten-2 center" style="opacity:.8;"> 
				<h4 style="font-weight:100;">INGRIDIENTS</h4>
				<ul class="left-align ultype" style="margin-left:20px">
  <li>2 medium zucchini</li> 
  <li>1 slice white bread, torn into small pieces</li>
  <li>1/4 cup bacon bits</li>
  <li>1 tablespoon minced black olives</li>
  <li>1 jalapeno pepper, minced </li>
  <li>3 tablespoons diced green chile peppers</li>
  <li>1/4 cup minced onion</li>
  <li>1/4 cup chopped tomato</li>
  <li>6 tablespoons shredded sharp Cheddar cheese</li>
  <li>1 pinch dried basil</li>
  <li>seasoned salt to taste</li>
  <li>ground black pepper to taste</li>
 
  </ul>
				</div>
				</div>
				
				<div class="col s12 m12 l4 offset-l1">
				<div class="section grey lighten-2 center" style="opacity:.8;">
				<h4 style="font-weight:100;">DIRECTIONS</h4>
				<ol class="left-align">
  <li> Prepare the grill for indirect heat.</li>

  <li> Place the zucchini in a pot with enough water to cover. Bring to a boil, and cook 5 minutes. Drain, cool, and cut in half lengthwise. Scoop out the pulp to about 1/4 inch from the skin. Chop pulp.</li>
  
  <li>In a bowl, mix the zucchini pulp, bread pieces, bacon bits, olives, jalapeno, green chile peppers, onion, tomato, and Cheddar cheese. Season with basil, seasoned salt, and pepper.</li>
  <li>Stuff the zucchini halves with the pulp mixture. Seal each stuffed half in aluminum foil.</li>
  
  <li>Place foil packets on the prepared grill over indirect heat. Cook 15 to 20 minutes, until tender.</li>
  
 
  </ol>
				
				</div>
				</div>
		</div>
        </div>
        <div class="modal-footer">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn red">close</a>
        </div>
      </div>
	  
	  
<div class ="card transparent">

  <div class="row">


 <h3 class="center" style="color:#000000">Popular Cuisines</h3>



 <div class="col l4 m6 s12">
    <div class="card grey lighten-5 z-depth-1 hoverable" id="radcor">
            <div class="card-image"  id="radcor" style="padding:5px;" >
              <div class="show-image">
                <img id="mealimg" src="static/images/random1.jpg" >
                <a href="#" class="like">&#10084;</a>
                <a class="waves-effect waves-light modal-trigger share" href="#share"><img src="static/images/share.png"/></a>
              </div>
              
            </div>
            <div class="card-content">
			<h5>Snake Tikka</h5>
			<div class="rating8"></div>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
			  <a class="modal-trigger right" href="#fullrecipe">Full Recipe</a>
            </div>
            <!--<div class="card-action"  id="radcor">
					
			 <a href="#">This is a link</a>
			 
            </div>-->
			<hr class="grey lighten-5">
			<div class="row valign-wrapper">
            <div class="col s2">
              <img src="static/images/random3.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <div class="row s6" id="onepad">
			  <span >
                <font color="grey" size="2px"> Recipe By</font>&nbsp Priya Chetnani
              </span>
			  </div>
			  <div class="row s6" id="nopad">
			  <div class="col s2">
			  <i class="material-icons">person_pin</i>
			  </div>
			   <div class="col s2">
			  <i class="material-icons">av_timer</i>
			  </div>
			  </div>
			  </div>
          </div>
		  </div>

      <div class="card grey lighten-5 z-depth-1 hoverable" id="radcor">
            <div class="card-image"  id="radcor" style="padding:5px;" >
              <div class="show-image">
                <img id="mealimg" src="static/images/random2.jpg" >
                <a href="#" class="like">&#10084;</a>
                <a class="waves-effect waves-light modal-trigger share" href="#share"><img src="static/images/share.png"/></a>
              </div>
              <span class="card-title">2</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action"  id="radcor">
              <div class="rating7"></div>
			  <a href="#">This is a link</a>
            </div>
          </div>


       <div class="card grey lighten-5 z-depth-1 hoverable" id="radcor">
            <div class="card-image"  id="radcor" style="padding:5px;" >
              <div class="show-image">
                <img id="mealimg" src="static/images/random3.jpg" >
                <a href="#" class="like">&#10084;</a>
                <a class="waves-effect waves-light modal-trigger share" href="#share"><img src="static/images/share.png"/></a>
              </div>
              <span class="card-title">1</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action"  id="radcor">
				<div class="rating6"></div>
			 <a href="#">This is a link</a>
            </div>
          </div>
	  </div>

	  <div class="col l4 m6 s12">

      <div class="card grey lighten-5 z-depth-1 hoverable" id="radcor">
            <div class="card-image"  id="radcor" style="padding:5px;" >
              <div class="show-image">
                <img id="mealimg" src="static/images/random5.jpg" >
                <a href="#" class="like">&#10084;</a>
                <a class="waves-effect waves-light modal-trigger share" href="#share"><img src="static/images/share.png"/></a>
              </div>
              <span class="card-title">4</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action"  id="radcor">
              <div class="rating5"></div>
			  <a href="#">This is a link</a>
            </div>
          </div>

	   <div class="card grey lighten-5 z-depth-1 hoverable" id="radcor">
            <div class="card-image"  id="radcor" style="padding:5px;" >
              <div class="show-image">
                <img id="mealimg" src="static/images/random4.jpg" >
                <a href="#" class="like">&#10084;</a>
                <a class="waves-effect waves-light modal-trigger share" href="#share"><img src="static/images/share.png"/></a>
              </div>
              <span class="card-title">5</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action"  id="radcor">
              <div class="rating4"></div>
			  <a href="#">This is a link</a>
            </div>
          </div>

     <div class="card grey lighten-5 z-depth-1 hoverable" id="radcor">
            <div class="card-image"  id="radcor" style="padding:5px;" >
              <div class="show-image">
                <img id="mealimg" src="static/images/random6.jpg" >
                <a href="#" class="like">&#10084;</a>
                <a class="waves-effect waves-light modal-trigger share" href="#share"><img src="static/images/share.png"/></a>
              </div>
              <span class="card-title">6</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action"  id="radcor">
              <div class="rating3"></div>
			  <a href="#">This is a link</a>
            </div>
          </div>

  </div>

   <div class="col l4 m6 s12">




      <div class="card grey lighten-5 z-depth-1 hoverable" id="radcor">
            <div class="card-image"  id="radcor" style="padding:5px;" >
              <div class="show-image">
                <img id="mealimg" src="static/images/random4.jpg" >
                <a href="#" class="like">&#10084;</a>
                <a class="waves-effect waves-light modal-trigger share" href="#share"><img src="static/images/share.png"/></a>
              </div>
              <span class="card-title">7</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action"  id="radcor">
              <div class="rating2"></div>
			  <a href="#">This is a link</a>
            </div>
          </div>



      <div class="card grey lighten-5 z-depth-1 hoverable" id="radcor">
            <div class="card-image"  id="radcor" style="padding:5px;" >
              <div class="show-image">
                <img id="mealimg" src="static/images/random5.jpg" >
                <a href="#" class="like">&#10084;</a>
                <a class="waves-effect waves-light modal-trigger share" href="#share"><img src="static/images/share.png"/></a>
              </div>
              <span class="card-title">8</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action"  id="radcor">
              <div class="rating1"></div>
			  <a href="#">This is a link</a>
            </div>
          </div>

     <div class="card grey lighten-5 z-depth-1 hoverable" id="radcor">
            <div class="card-image"  id="radcor" style="padding:5px;" >
              <div class="show-image">
                <img id="mealimg" src="static/images/random6.jpg" >
                <a href="#" class="like">&#10084;</a>
                <a class="waves-effect waves-light modal-trigger share" href="#share"><img src="static/images/share.png"/></a>
              </div>
              <span class="card-title">9</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action"  id="radcor">
			<div class="rating"></div>
              <a href="#">This is a link</a>
            </div>
          </div>

  </div>
  </div>
  </div>
  </div>
</div>
</div>


 </main>

 <footer class="page-footer purple darken-1 scrollspy" id="contact">
   <div class="center">
     <a href="https://www.facebook.com" target="_blank"><img src="static/images/facebook.png" alt="Facebook logo"></a>
   </div>
   <div class="footer-copyright">
     <div class="container center"> &copy; 2016 randomfood
     </div>
   </div>
 </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="static/js/materialize.min.js"></script>
    <script type="text/javascript" src="static/js/main.js"></script>
	<!--<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>-->
	<script src="static/js/jquery.star.rating.js"></script>
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>-->
	<script src="static/js/jquery-scrolltofixed-min.js" type="text/javascript"></script>
	<script>
    $(document).ready(function() {
        $('#header').scrollToFixed();
        $('#header').bind('fixed.ScrollToFixed', function() { $(this).css('color', 'red'); });
        $('#header').bind('unfixed.ScrollToFixed', function() { $(this).css('color', ''); });




    });
</script>

<script>
    $(document).ready(function() {
        $('#header1').scrollToFixed();
        $('#header1').bind('fixed.ScrollToFixed', function() { $(this).css('color', 'red'); });
        $('#header1').bind('unfixed.ScrollToFixed', function() { $(this).css('color', ''); });




    });
</script>
<script>
	$(document).ready(function(){
		$('.rating').addRating();
    $('.rating1').addRating();
    $('.rating2').addRating();
    $('.rating3').addRating();
    $('.rating4').addRating();
    $('.rating5').addRating();
    $('.rating6').addRating();
    $('.rating7').addRating();
    $('.rating8').addRating();
	})
</script>
<script>
//Based on a pen by @nicksheffield
var anchors = document.querySelectorAll('a.like')

Array.prototype.forEach.call(anchors, function(anchor) {
anchor.addEventListener('click', explode)
})

function explode(e) {
  [].map.call(anchors, function(el) {
         el.classList.toggle('active');
   });
var x = e.clientX
var y = e.clientY
var c = document.createElement('canvas')
var ctx = c.getContext('2d')
var ratio = window.devicePixelRatio
var particles = []

document.body.appendChild(c)

c.style.position = 'absolute'
c.style.left = (x - 50) + 'px'
c.style.top = (y - 50) + 'px'
c.style.pointerEvents = 'none'
c.style.width = 100 + 'px'
c.style.height = 100 + 'px'
c.width = 100 * ratio
c.height = 100 * ratio

function Particle() {
  return {
    x: c.width / 2,
    y: c.height / 2,
    radius: 10,
    color: 'rgb(' + [r(100,255), r(100,255), r(100,255)].join(',') + ')',
    rotation: r(0,360, true),
    speed:4,
    friction: 0.9,
    opacity: r(0,0.5, true),
    yVel: 0,
    gravity: 0
  }
}

for(var i=0; ++i<15;) {
  particles.push(Particle())
}



function render() {
  ctx.clearRect(0, 0, c.width, c.height)

  particles.forEach(function(p, i) {

    angleTools.moveOnAngle(p, p.speed)

    p.opacity -= 0.01
    p.speed *= p.friction
    p.radius *= p.friction

    p.yVel += p.gravity
    p.y += p.yVel

    if(p.opacity < 0) return
    if(p.radius < 0) return

    ctx.beginPath()
    ctx.globalAlpha = p.opacity
    ctx.fillStyle = p.color
    ctx.arc(p.x, p.y, p.radius, 0, 2 * Math.PI, false)
    ctx.fill()
  })
}

;(function renderLoop(){
  requestAnimationFrame(renderLoop)
  render()
})()

setTimeout(function() {
  document.body.removeChild(c)
}, 3000)
}

var angleTools={getAngle:function(t,n){var a=n.x-t.x,e=n.y-t.y;return Math.atan2(e,a)/Math.PI*180},getDistance:function(t,n){var a=t.x-n.x,e=t.y-n.y;return Math.sqrt(a*a+e*e)},moveOnAngle:function(t,n){var a=this.getOneFrameDistance(t,n);t.x+=a.x,t.y+=a.y},getOneFrameDistance:function(t,n){return{x:n*Math.cos(t.rotation*Math.PI/180),y:n*Math.sin(t.rotation*Math.PI/180)}}};
function r(a,b,c){ return parseFloat((Math.random()*((a?a:1)-(b?b:0))+(b?b:0)).toFixed(c?c:0)); }
</script>

  </body>
</html>
